{% extends 'website/base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
        {% include 'website/messages.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-6-desktop is-8-tablet">
                    <h1 class="title is-size-4 has-text-centered">Edit Profile</h1>
                    <form method="POST" action="{% url 'edit-profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Bio</label>
                            <div class="control">
                                {{ form.bio|add_class:'textarea'|attr:'rows:3' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Website</label>
                            <div class="control">
                                {{ form.website|add_class:'input' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Location</label>
                            <div class="control">
                                {{ form.location|add_class:'input' }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Instagram Handle </label>
                            <div class="control">
                                {{ form.instagram_handle|add_class:'input' }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                {{ form.image }}
                            </div>
                        </div>
                        <input type="submit" class="button is-info is-fullwidth" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}