{% extends 'website/base.html' %}

{% block content %}
<section class="hero is-medium is-large-mobile home-section">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
        {% include 'website/messages.html' %}
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {% if user.is_authenticated %}
            <h1 class="title has-text-white is-size-1 is-size-4-mobile">Welcome Back, {{ user.first_name }}!</h1>
            {% else %}
            <h1 class="title is-size-4-mobile">Sign up or Log in to continue</h1>
            {% endif %}
        </div>
    </div>
</section>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-4">Other Users</h1>
            <div class="columns is-centered is-multiline">
                {% for user in users %}
                <div class="column is-12">
                    <div class="card profile-card">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-2 centered-h">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded" src="{{ user.profile.image.url }}">
                                    </figure>
                                </div>
                                <div class="column centered-v">
                                    <h1 class="title is-size-5">
                                        {{ user.username }}
                                        <a class="has-text-grey-dark" href="https://instagram.com/{{ user.profile.instagram_handle }}">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </h1>
                                    <h1 class="subtitle is-size-6 has-text-grey-light" style="margin-bottom: 0.30rem;">
                                        {{ user.first_name }} {{ user.last_name }} |
                                        {{ user.profile.location }}
                                    </h1>
                                    <p class="bio is-size-6">{{ user.profile.bio|linebreaks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}