{% extends 'website/base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-8-tablet">
                    <h1 class="title has-text-centered">Login</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Username" name="username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" name="password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <div>
                                    <button type="submit" class="button is-outlined is-black is-fullwidth">
                                        Login
                                    </button>
                                </div>
                            </p>
                        </div>
                    </form>
                    <div style="margin-top: 20px;">
                        {% include 'website/messages.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}