{% if messages %}
    {% for message in messages %}
        <article class="message {{ message.tags }} message-info">
            <div class="message-body">
                <div class="columns is-mobile">
                    <div class="column is-10">
                        <p>{{ message }}</p>
                    </div>
                    <div class="column is-2 has-text-right">
                        <span class="icon is-small dismiss-message" onclick="dismiss()">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
{% endif %}