{% load static menu %}
<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="{% url 'home' %}" class="navbar-item has-text-extrabold has-text-black">UserAuth</a>
            <a role="button" class="navbar-burger" data-target="nav-menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        {% generate_menu %}
        <div class="navbar-menu" id="nav-menu">
            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless is-hidden-mobile is-hidden-tablet-only">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="{{ user.profile.image.url }}" style="max-height: 100% !important;">
                        </figure>
                    </a>
                    <div class="navbar-dropdown is-right">
                        {% for item in menus.logged_in %}
                            <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    {% for item in menus.logged_out %}
                        <a class="navbar-item" href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</header>