{% extends 'website/base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    {% if user.is_authenticated %}
                    <div class="buttons is-right">
                        <a href="{% url 'edit-profile' %}" class="button is-info has-padding">Edit Profile</a>
                    </div>
                    {% endif %}
                    <div class="card profile-card">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-2 centered-h">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded" src="{{ user.profile.image.url }}">
                                    </figure>
                                </div>
                                <div class="column centered-v">
                                    <h1 class="title is-size-5">
                                        {{ user.username }}
                                        <a class="has-text-grey-dark" href="https://instagram.com/{{ user.profile.instagram_handle }}" style="margin-left: 10px;">
                                            <i class="fab fa-instagram fa-sm"></i>
                                        </a>
                                        <a href="https://{{ user.profile.website }}" class="has-text-grey-dark" style="margin-left: 8px;">
                                            <i class="fas fa-link fa-sm"></i>
                                        </a>
                                    </h1>
                                    <h1 class="subtitle is-size-6 has-text-grey-light" style="margin-bottom: 0.30rem;">
                                        {{ user.first_name }} {{ user.last_name }} |
                                        {{ user.profile.location }}
                                    </h1>
                                    <p class="bio is-size-6">{{ user.profile.bio|linebreaks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}