{% extends 'website/base.html' %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-8-tablet">
                    <h1 class="title has-text-centered">Register</h1>
                    {% include 'website/messages.html' %}
                    <div class="register-form">
                        <form method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="button is-outlined is-black is-fullwidth">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}