{% extends 'website/base.html' %}
{% load widget_tweaks %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-head">
        {% include 'website/navbar.html' %}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-8-tablet">
                    <h1 class="title has-text-centered">Edit Account Settings</h1>
                    {% include 'website/messages.html' %}
                    <div class="register-form">
                        <form method="POST" action="{% url 'settings' %}">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    {{ form.username|add_class:'input' }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">First Name</label>
                                <div class="control">
                                    {{ form.first_name|add_class:'input' }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Last Name</label>
                                <div class="control">
                                    {{ form.last_name|add_class:'input' }}
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    {{ form.email|add_class:'input' }}
                                </div>
                            </div>
                            <p style="margin-bottom: 15px;">
                                <a class="has-text-info" href="{% url 'change-password' %}">Click Here</a>
                                To Change Your Password
                            </p>
                            <button type="submit" class="button is-info is-fullwidth">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}