body {
    font-family: 'Muli' !important;
}

.is-fullwidth {
    width: 100% !important;
}

.dismiss-message {
    cursor: pointer;
}

.register-form input {
    margin-bottom: 0.75rem;
}

.input, .textarea {
    border: 1px solid #e8e8e8 !important;
    color: #262626 !important;
    transition: 0.3s all ease-in-out;
    box-shadow: none !important;
}

.input:focus, .textarea:focus {
    box-shadow: none !important;
    border-color: #a2a2a2 !important;
}

.input::placeholder, .textarea::placeholder {
    color: #5b5b5b !important;
}

.centered-h {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-label {
    flex-direction: column;
}

#image-clear_id, #image-clear_id + label {
    display: none !important;
}

.file-label + #text {
    display: none !important;
}

.profile-card {
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.home-section {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/pinksplash.jpg') center no-repeat;
    background-size: cover;
}

.has-text-extrabold {
    font-weight: 900 !important;
}

.button.is-pink {
    background-color: #fe6485 !important;
    color: #fff !important;
    border: none !important;
}

.button.has-padding {
    padding: 20px 35px;
}

.navbar {
    background-color: #fff !important;
}